/* PT Orange Magic Cursor */
#ball {
background: #f1420b !important;
}

/* PT Orange Preloader Spinner - Double Size */
.theme-preloader .loading-container,
.theme-preloader .loading-container .loading {
height: 200px !important;
width: 200px !important;
}

.theme-preloader .loading-container .loading {
border-color: transparent #f1420b transparent #f1420b !important;
}

.theme-preloader .loading-container #loading-icon {
max-width: 132px !important;
}